# Project exclude paths
/target/
/crERP/seg0/c1a1.dat
/crERP/seg0/c1b1.dat
/crERP/seg0/c1c0.dat
/crERP/seg0/c1d1.dat
/crERP/seg0/c1e0.dat
/crERP/seg0/c1f1.dat
/crERP/seg0/c2a1.dat
/crERP/seg0/c2b1.dat
/crERP/seg0/c2c1.dat
/crERP/seg0/c2d0.dat
/crERP/seg0/c2e1.dat
/crERP/seg0/c2f0.dat
/crERP/seg0/c3a1.dat
/crERP/seg0/c3b1.dat
/crERP/seg0/c3c0.dat
/crERP/seg0/c3d1.dat
/crERP/seg0/c3e1.dat
/crERP/seg0/c3f1.dat
/crERP/seg0/c10.dat
/crERP/seg0/c20.dat
/crERP/seg0/c31.dat
/crERP/seg0/c41.dat
/crERP/seg0/c51.dat
/crERP/seg0/c60.dat
/crERP/seg0/c71.dat
/crERP/seg0/c81.dat
/crERP/seg0/c90.dat
/crERP/seg0/c101.dat
/crERP/seg0/c111.dat
/crERP/seg0/c121.dat
/crERP/seg0/c130.dat
/crERP/seg0/c141.dat
/crERP/seg0/c150.dat
/crERP/seg0/c161.dat
/crERP/seg0/c171.dat
/crERP/seg0/c180.dat
/crERP/seg0/c191.dat
/crERP/seg0/c200.dat
/crERP/seg0/c211.dat
/crERP/seg0/c221.dat
/crERP/seg0/c230.dat
/crERP/seg0/c241.dat
/crERP/seg0/c251.dat
/crERP/seg0/c260.dat
/crERP/seg0/c271.dat
/crERP/seg0/c281.dat
/crERP/seg0/c290.dat
/crERP/seg0/c300.dat
/crERP/seg0/c311.dat
/crERP/seg0/c321.dat
/crERP/seg0/c331.dat
/crERP/seg0/c340.dat
/crERP/seg0/c351.dat
/crERP/seg0/c361.dat
/crERP/seg0/c371.dat
/crERP/seg0/c380.dat
/crERP/seg0/c391.dat
/crERP/seg0/c400.dat
/crERP/seg0/c411.dat
/crERP/seg0/c421.dat
/crERP/seg0/c430.dat
/crERP/seg0/c441.dat
/crERP/seg0/c451.dat
/crERP/seg0/c461.dat
/crERP/seg0/c470.dat
/crERP/seg0/c481.dat
/crERP/seg0/c490.dat
/crERP/seg0/ca1.dat
/crERP/seg0/cb1.dat
/crERP/seg0/cc0.dat
/crERP/seg0/cd1.dat
/crERP/seg0/ce1.dat
/crERP/seg0/cf0.dat
/derby.log
/crERP/log/log.ctrl
/crERP/log/log1.dat
/crERP/log/logmirror.ctrl
/crERP/log/README_DO_NOT_TOUCH_FILES.txt
/crERP/seg0/README_DO_NOT_TOUCH_FILES.txt
/crERP/README_DO_NOT_TOUCH_FILES.txt
/crERP/service.properties
